@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.reset-bootstrap {
    margin: 0 !important;
    padding: 0px !important;
}

body {
    background-color: #800080 !important;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    background-color: #ffff;
    padding: 0px;
}

.header {
    background-color: #95a8bb;
    color: #fff;
    margin: 0;
}

.navbar-brand h1 {
    font-size: 1.5rem;
    white-space: normal;
    word-wrap: break-word;
    max-width: 80%;
}

@media (max-width: 768px) {
    .navbar-brand h1 {
        font-size: 1.4rem;
    }

    .logo-paroquia {
        max-height: 15vh;
    }
}

@media (max-width: 576px) {
    .navbar-brand h1 {
        font-size: 1.2rem;
        max-width: 60%;
    }

    .logo-paroquia {
        max-height: 10vh;
    }

}

.logo-paroquia {
    max-height: 25vh;
}



.info {
    background-color: #95a8bb;
    color: #fff;
    width: 100%;
    flex: 1;
}