@media (max-width: 1000px) {
    .navbar-collapse {
        justify-content: flex-start;
    }

    .navbar-brand h1 {
        font-size: 1.4rem;
    }

    .logo-paroquia {
        max-height: 15vh;
    }
}

@media (max-width: 576px) {
    .navbar-brand h1 {
        font-size: 1.2rem;
        max-width: 60%;
    }

    .logo-paroquia {
        max-height: 10vh;
    }

    .img-instagram {
        width: 40px;
        height: 40px;
    }

    .float-instagram {
        bottom: 15px;
        right: 15px;
    }

}