body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#adminEventList {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.gap-list {
    gap: 6px !important;
}

.btn-admin {
    position: absolute;
    top: 10px;
    left: 15px;
    opacity: 0.7;
    transition: opacity 0.3s;
}